html{
    background-color: rgb(213, 168, 237);
}
@font-face {
    font-family:"White Chalk" ;
    src: url(assets/fonts/White\ Chalk.ttf);
}
@font-face {
    font-family: "Good Love";
    src: url(assets/fonts/Good\ Love.ttf);
}

.word-one{
    font-size: xx-large;
    font-style: oblique;
    color: blue;
    margin-left: 2.6rem;
}
.word-two{
    font-size: xx-large;
    font-style: oblique;
    color: rgb(59, 39, 128);
    margin-left: 2.6rem;
}
h1{
    color: rgb(59, 39, 128);
    font-family: "White Chalk";
    font-size: 50px;
    margin-left: 2.6rem;
}
h3{
    color: rgb(39, 57, 128);
    font-size: 40px;
    font-family: "Good Love";
    margin-left: 2.6rem;
    margin-bottom: -1.4rem;
}
h4{
    color: rgb(39, 57, 128);
    font-size: 30px;
    font-family: "Good Love";
    margin-bottom: -0.1rem;
    margin-left: 2.6rem;
} 
h5:hover{

    color: rgb(39, 57, 128);
    font-size: 30px;
    font-family: "White Chalk"; 
    margin-top:2rem ;
    margin-left: 2.6rem;
}
.links{
     margin-top:-1.1rem ;
     margin-left: 2.6rem;
}
.websites{
    margin-left: 2.6rem;
}
.special-paragraph:hover{
color: deepskyblue;
}
.cat{
    color: rgb(39, 57, 128);
    display: inline-block;
    margin-left: 2.6rem;
    margin-bottom: -2.4rem;

}
.image-1{
    display: inline-grid;
      color: rgb(39, 57, 128);
      margin-left: 2.6rem;
}
.image-2{
    display: inline-grid;
     color: rgb(39, 57, 128);
     margin-left: 2.6rem;
}
.image-3{
    display: inline-grid;
     color: rgb(39, 57, 128);
    margin-left: 2.3rem;
    margin-top: 2.6rem;
}
.top-image-1{
    display: inline-block;
      color: rgb(39, 57, 128);
      margin-left: 2.6rem;
      margin-bottom: 2.6rem;
}
.top-image-2{
    display: inline-block;
      color: rgb(39, 57, 128);
    margin-left: 15.6rem;
    margin-top: -13.4rem;
}