html{
    background-color: aqua;
}

.word-one{
    font-size: xx-large;
    font-style: oblique;
    color: blue;
}
.word-two{
    font-size: xx-large;
    font-style: oblique;
    color: blue;
}
.title-one{
    color: rgb(97, 62, 224);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.image{
    font-size: xx-large;
    color:black
}
.image{
    font-size: x-large;
}
.image:hover{
    font-size: xx-large;
    color: green;
}
.special-paragraph:hover{
color: deepskyblue;
}
