html{
    background-color: rgb(213, 168, 237);
}
@font-face {
    font-family:"White Chalk" ;
    src: url(assets/fonts/White\ Chalk.ttf);
}
@font-face {
    font-family: "Good Love";
    src: url(assets/fonts/Good\ Love.ttf);
}
.word-one{
    font-size: xx-large;
    font-style: oblique;
    color: blue;
}
.word-two{
    font-size: xx-large;
    font-style: oblique;
    color: rgb(59, 39, 128);
}
h1{
    color: rgb(59, 39, 128);
    font-family: "White Chalk";
    font-size: 50px;
}
h3{
    color: rgb(39, 57, 128);
    font-size: 30px;
    font-family: "White Chalk";
}
h4{
    color: rgb(39, 57, 128);
    font-size: 30px;
    font-family: "White Chalk";
} 
.image{
    font-size: xx-large;
    color:rgb(12, 93, 19)

}
.splash :hover{
    color: rgb(59, 39, 128);
}
.special-paragraph:hover{
color: deepskyblue;
}
