html{
    background-color: rgb(255, 255, 255);
}
.header{
    color: #950000;
    font-style:oblique;
    font-size: xx-large;
}
.words{
    color: #950000;
    font-style: oblique;
}
.head{
    color: #950000;
    font-style:oblique;
    font-size:x-large;
}
@font-face {
    font-family: "Raynexter";
    src: url(fonts/Raynexter.ttf);
}
h1{
    font-family: "Raynexter";
    font-size: 800px;
}


