html{
    background-color: rgb(255, 255, 255);
}
.header{
    color: #e20505;
    font-style:oblique;
    font-size: xx-large;
}
.words{
    color: #e20505;
    font-style: oblique;
}
.head{
    color: #e20505;
    font-style: oblique;
    font-size:x-large;
}
@font-face {
    font-family: "Raynexter";
    src: url(fonts/Raynexter.ttf);
}
h1{
    font-family: "Raynexter";
    font-size: 800px;
}
html{
    background-color: black;
}
.grid{
  box-sizing: border-box;
width: calc(25% - 2rem * 1.3);
margin-right: calc(2rem * 1.3);
margin-bottom: calc(2rem * 1.3);
display: inline-block;
}


