@charset "utf-8";
@font-face {
    font-family: "FUNKOZ";
    src: url(fonts/FUNKOZ.ttf);
}
html{
    background-color: rgb(215, 219, 158); 
}
.main-part{
    height: 100%;
    width: 100%;
    position: fixed;
    color: rgb(60, 109, 104);
}

#typewriting1{
    font-family: "FUNKOZ";
    color: rgb(99, 26, 80);
    font-size: 100px;
}

#typewriting2{
    font-family: "FUNKOZ";
 color: rgb(99, 26, 80);;
    font-size: 60px;
}

#typewriting3{
    font-family: "FUNKOZ";
   color: rgb(99, 26, 80);
    font-size: 60px;
}

#typewritng1, #typewritng2, #typewriting3{
    margin-top: 6.6rem;
}



