@charset "utf-8";
@font-face {
    font-family: "FUNKOZ";
    src: url(fonts/FUNKOZ.ttf);
}
html{
   background-color:rgb(205, 186, 221); 
}
#button{
 width:80px;
 height:40px;
 cursor: pointer;
 background-color: rgb(23, 19, 4);
 color: white;
 padding: 15px 32px;
 border: none;
 border-radius: 40px;
 cursor: pointer;
 margin-left:5%;
}


#button:hover{
background-color: #fe80d2;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
border: solid;
}

.title-1{
    font-family: "FUNKOZ";
    font-size: 90px;
    color:rgb(100, 67, 131); 
}
h1 {
    font-family: "FUNKOZ";
    font-size: 70px;
    color:rgb(100, 67, 131);
    margin-top: 1.6rem;
    animation-name: my-animation;
    animation-duration: 2s;
    animation-iteration-count:4;
}
h2{
     font-family: "FUNKOZ";
    font-size: 70px;
    color: rgb(134, 89, 175);
    margin-top: 1.6rem;
    animation-name: my-animation-2;
    animation-duration: 2s;
    animation-iteration-count:4; 
    
    
}

.main{
    background-color:rgb(205, 186, 221);
    height: 1666px;
    width: 1666px;
}
.box-1{
   
    width: 400px;
    height: 500px;
    display: inline-block;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
 .box-2{
  
    width: 790px;
    height: 350px;
    display: inline-block;
}
/*.box-3{
   
    width: 420px;
    height: 450px;
    display: inline-block;

}
.box-4{
  
    width: 800px;
    height: 400px;
    display: inline-block;
     margin-left: 1.5rem;
     margin-top: 1.6rem;
     
}
.box-5{
    
    width: 810px;
    height: 540px;
    display: inline-block;
     margin-top: 1.6rem;
} */

@keyframes my-animation {
    from{
        font-size: 40px;
    }
    to{
       font-size: 60px;
    }    
}
@keyframes my-animation-2 {
    from{
        font-size: 80px;
    }
    to{
       font-size: 30px;
    }  
} 
@keyframes my-animation-3 {
    from{
        font-size: 30px;
    }
    to{
       font-size: 100px;
    }  
} 
@keyframes my-animation-4 {
    from{
        font-size: 20px;
    }
    to{
       font-size: 40px;
    }  
} 
@keyframes my-animation-5 {
    from{
        font-size: 90px;
    }
    to{
       font-size: 70px;
    }  
} 
@keyframes my-animation-6 {
    0%{
        background-color:rgb(205, 186, 221);
    }
    10%{
       background-color: rgb(85, 75, 94);
    }  
     40%{
        background-color:rgb(205, 186, 221);
    }
    60%{
       background-color: rgb(85, 75, 94);
    } 
     80%{
       background-color: rgb(85, 75, 94);
    } 
     100%{
       background-color: rgb(85, 75, 94);
    } 
} 