@charset "utf-8";
@font-face {
    font-family: "FUNKOZ";
    src: url(fonts/FUNKOZ.ttf);
}
html{
    background-color: rgb(196, 205, 229); 
}
.main-part{
    height: 100%;
    width: 100%;
    position: fixed;
    color: rgb(136, 136, 136);
}

#typewriting1{
    font-family: "FUNKOZ";
    color: rgb(128, 0, 41);
    font-size: 100px;
}

#typewriting2{
    font-family: "FUNKOZ";
    color: rgb(128, 0, 41);
    font-size: 60px;
}

#typewriting3{
    font-family: "FUNKOZ";
    color: rgb(128, 0, 41);
    font-size: 60px;
}

#typewritng1, #typewritng2, #typewriting3{
    margin-top: 2.6rem;
}
#button{
 width:80px;
 height:40px;
 cursor: pointer;
 background-color: rgb(23, 19, 4);
 color: white;
 padding: 15px 32px;
 border: none;
 border-radius: 40px;
 cursor: pointer;
 margin-left:5%;
}


#button:hover{
background-color: #ab006f;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
border: solid;
}


