@charset "utf-8";
@font-face {
    font-family: "FUNKOZ";
    src: url(fonts/FUNKOZ.ttf);
}
html{
    background-color: rgb(152, 200, 152); ;
}
.main-part{
    height: 100%;
    width: 100%;
    position: fixed;
}
.title{
    font-family: "FUNKOZ";
    color: green;
    font-size: 80px;
     margin-top: 2.6rem;
    margin-left: 2.6rem;
    margin-right: 2.6rem;
}
.title-glowing{
     font-family: "FUNKOZ";
    color: rgb(0, 129, 0);
    font-size: 80px;
    transition: all 1s ease;
   animation-name:fade;
    animation-duration:3s;
    animation-iteration-count: 1;
     text-shadow: #FFFF 0px 0px 9px;
}
.word-1{
    font-family: "FUNKOZ";
    color: green;
    font-size: 45px;
    margin-top: 6.6rem;
    margin-left: 2.6rem;
    margin-right: 2.6rem;
    margin-bottom: 16.6rem;
    display: inline-block;
}
.shadow{
    text-shadow: #FFFF 0px 0px 9px;
}
.word-1:hover{
      animation-name: animation-word-1; 
    animation-duration: 2s;
}
.word-2{
    font-family: "FUNKOZ";
    color: green;
    font-size: 45px;
     margin-top: 2.6rem;
    margin-left: 2.6rem;
    margin-right: 2.6rem;
    margin-bottom: 16.6rem;
    display: inline-block;

}
.word-2:hover{
      animation-name: animation-word-1; 
    animation-duration: 2s;
}
.word-3{
    font-family: "FUNKOZ";
    color: green;
    font-size: 45px;
     margin-top: 2.6rem;
    margin-left: 2.6rem;
    margin-right: 2.6rem;
    margin-bottom: 16.6rem;
    display: inline-block;
}
.word-3:hover{
      animation-name: animation-word-1; 
    animation-duration: 2s;
}
.word-4{
    font-family: "FUNKOZ";
    color: green;
    font-size: 45px;
     margin-top: 2.6rem;
    margin-left: 2.6rem;
    margin-right: 2.6rem;
    margin-bottom: 16.6rem;
    display: inline-block;
}
.word-4:hover{
      animation-name: animation-word-1; 
    animation-duration: 2s;
}
.word-5{
    font-family: "FUNKOZ";
    color: green;
    font-size: 45px;
     margin-top: 2.6rem;
    margin-left: 2.6rem;
    margin-right: 2.6rem;
    margin-bottom: 16.6rem;
    display: inline-block;
   
}
.word-5:hover{
      animation-name: animation-word-1; 
    animation-duration: 2s;
}
@keyframes animation-word-1{
    0%{
    
        transform:rotate(22deg);
    }
     100%{
       transform:rotate(360deg);
    }
    
}
@keyframes animation-word-2{
    0%{
    
        transform:rotate(22deg);
    }
     100%{
       transform:rotate(360deg);
    }
    
}
@keyframes animation-word-3{
    0%{
    
        transform:rotate(22deg);
    }
     100%{
       transform:rotate(360deg);
    }
    
}
@keyframes animation-word-4{
    0%{
    
        transform:rotate(22deg);
    }
     100%{
       transform:rotate(360deg);
    }
    
}
@keyframes animation-word-5{
    0%{
    
        transform:rotate(22deg);
    }
     100%{
       transform:rotate(360deg);
    }
    
}
@keyframes fade{
   0%{opacity: 0%;}
    25%{opacity: 0%;}
    50%{opacity: 0%;}
    75%{opacity:75%}
    100%{opacity:100%}
}
