@charset "utf-8";
@font-face {
    font-family: "Babyish Vacation";
    src: url(fonts/Babyish\ Vacation.otf);
}
@font-face {
    font-family:"Simple Approach";
    src: url(fonts/Simple\ Approach.ttf);
}
.main-grid{
    background-color: rgb(191, 222, 191);
    height: 850px;
    width: 650px;
    position:fixed;
    margin-bottom: 2.6rem;
    margin-top: 2.6rem;
    margin-left: 31.6rem;
    
}
.left-side{
    width: 325px;
    height: 600px;
    display: inline-grid;
    margin-top: 2.6rem;
}
.right-side{
    
    width: 325px;
    height: 600px;
    display: inline-grid;
    margin-left: -0.4rem;
    margin-top: 2.6rem;
     position: fixed;
}
.right-side-2{
    
    width: 325px;
    height: 600px;
    display: inline-grid;
    margin-left: -0.4rem;
    margin-top: 2.6rem;
     position: fixed;
}
.bottom-part{
    margin-top: -7.4rem;
    width: 650px;
    height: 800px;
}
.title{
    margin-top: 1.6rem;
}
.thicker{
    margin-top: -2.4rem;
    width: 80%;
    border-top-width: 10px;
    border-color: #51842d;
}
p{
    font-size: 15px;
    font-family:"Simple Approach";
    margin-left: 2.6rem;
    margin-bottom: -0.4rem;
    color: #37603c;
}
h1{
    color: rgb(148, 53, 99);
    font-family: "Babyish Vacation";
    font-size: 40px;
    margin-top: -0.4rem;
    margin-left: 24.9rem;
    margin-bottom: -0.8rem;
}
h2{
    color: rgb(44, 83, 38);
    font-family: "Babyish Vacation";
    font-size: 80px;
    margin-top: -0.4rem;
    margin-left: 20.4rem;
}
h3{
    color: rgb(148, 53, 99);
    font-family:"Simple Approach";
    margin-left: 1.2rem;
    margin-bottom: -0.4rem;
    font-size: 25px;
}
h4{
    font-family:"Simple Approach";
    font-size: 25px;
    margin-bottom: -0.4rem;
  color: rgb(148, 53, 99);
}
h5{
    font-family:"Simple Approach";
    margin-left: 1.4rem;
    margin-top: 2.6rem;
    margin-bottom: -0.4rem;
    font-size: 25px;

}
